---

// > Layouts Imports
import Layout from "@layouts/main.astro";

---

<Layout data-barba-namespace="about-section">
    <div id="about" class="content flex flex-col max-w-screen-xl h-screen justify-center items-center mx-auto animate-this z-10 bg-transparent gap-24 dark:text-cultured">
        <h1>Sobre Mi</h1>
    </div>
</Layout>