---
// Layouts Imports
import Layout from '@layouts/main.astro'

// Components Imports
import ListTools from '@components/list/tools.svelte'
import ListProjects from '@components/list/projects.svelte'
import ContactForm from '@components/contactForm.svelte'
import { getCurrentYear } from '@scripts/date';

let currentYear = getCurrentYear();

---

<Layout data-barba-namespace="home-section">
	<section class="container flex flex-col w-full min-h-screen px-6 justify-center items-center align-middle z-5 animate-this bg-transparent text-cultured 
		 not-selectable">
		<div id="salute" class="flex flex-col justify-center items-center gap-16">
			<h1 class="font-neueBitPro size-subtitle text-center uppercase flex-wrap gap-4">
				Hello There!
				<br>
				<strong class="text-cultured hover:text-ocean-fluro leading-none size-title transition-all duration-500">
					Mario Ortega<br>Al Habla
				</strong>
			</h1>
			<div class="container lg:absolute flex flex-col lg:flex-row w-full h-auto justify-between items-center align-middle bottom-32 pt-12 lg:pt-0 bg-transparent">
				<div class="flex flex-col p-4 text-slate-600 opacity-20 justify-center items-center font-neueBitPro uppercase 
					 size-subtitle hover:translate-x-2 hover:-translate-y-4 transition-all duration-300 z-0">
					<h1>{ currentYear }↗</h1>
				</div>
				<a href="/about" class="flex flex-col w-96 h-auto p-2 px-2 border-b-gray-600 hover:border-b-yellow-dodie
					border-b-2 justify-center items-center pointer-events-auto transition-all duration-500 hover:translate-x-2 z-20">
					<h1 class="w-full font-neueBitPro text-center text-3xl uppercase">Explora mi perfil →</h1>
				</a>
				<div id="scroll" class="flex w-full md:w-3/5 lg:w-2/5 h-24 justify-end items-center align-middle flex-wrap 
					lg:bottom-20 lg:right-0 px-4 gap-4 transition-all duration-150 z-0">
					<h1 class=" font-neueBitPro text-2xl text-center uppercase text-gray-600">Scroll to Explore ↴</h1>
				</div>
			</div>
		</div>
	</section>
	<section id="info" class="container flex flex-col w-full h-auto py-20 justify-center items-center align-middle flex-wrap animate-this 
		 bg-transparent text-cultured not-selectable">
		<div id="position" class="relative flex left-0 top-0 flex-col w-full justify-center items-start">
			<h1 class="font-neueBitPro size-subtitle text-left uppercase flex-wrap w-2/3">Full Stack Developer, Creative and Tech Enthusiast.</h1>
		</div>
		<div id="exp-indicator" class="relative flex flex-col w-full justify-end h-auto items-end align-middle flex-wrap bottom-0 right-0 gap-4">
			<div class=" w-80 md:px-0 text-center md:text-right text-xl md:text-2xl transition-all duration-150 font-neueBitPro">
				Experiencia con Portales de Web y soluciones tecnológicas.
				<label class="hover:text-yellow-dodie text-xl md:text-2xl transition-all duration-150"> Logic → UI Integration → Deploy on Production</label>
			</div>
			<ListTools client:load/>
		</div>
	</section>
	<section id="home-view" class="container flex flex-col w-full h-auto justify-center items-center py-20 animate-this bg-transparent lg:gap-12 
		 z-20 text-cultured not-selectable">
		<div class="container flex w-full h-full cjustify-center items-center">
			<ListProjects client:load/>
		</div>
	</section>
	<section id="contact" class="container flex flex-col w-full min-h-screen justify-center items-center py-20 animate-this bg-transparent lg:gap-12 z-20 text-cultured">
		<div class="container flex w-full h-full justify-center items-center ">
			<ContactForm client:load/>
		</div>
	</section>
</Layout>

<style lang="scss">

.size-subtitle {
	font-size: 8vh;
	line-height: 0.75;
}
.size-title {
	font-size: 12vh;
	line-height: 0.75;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

</style>
