---
// Layout Imports
import MainLayout from '@layouts/main.astro'

// > Islands Imports
import Home from '@islands/home.svelte'
import About from '@islands/about.svelte'
import Contact from '@islands/contact.svelte';
---

<MainLayout>
	<div class="w-screen h-screen bg-transparent z-10 px-4 overflow-visible overflow-y-scroll">
		<Home client:visible />
		<About client:visible />
		<Contact client:visible />
	</div>
	
	<!-- <section class="flex w-full min-h-screen justify-between items-center z-10 bg-transparent px-12 md:px-20 xl:px-24">
		<div id="grid-parent" class="h-screen w-full pt-32 pb-20 grid grid-cols-6 grid-rows-3 gap-4">
			<div id="images" class="flex row-start-1 col-start-1 col-span-2 row-span-3 justify-center items-center z-10 rounded-lg bg-gray-500">
				Images
			</div>
			<div id="animated" class="flex row-start-1 col-start-2 col-span-2 justify-center items-center bg-blue-400">
				Gif Animated
			</div>
			<div id="project" class="flex row-start-2 col-start-3 row-span-2 col-span-3 justify-center items-center rounded-lg bg-amber-400">
				Proyectos
			</div>
			<div id="about" class="flex row-start-1 col-start-4 row-span-1 col-span-3 justify-center items-center rounded-lg bg-lime-200">
				About with Button
			</div>
			<div class="flex row-start-2 col-start-6 row-span-2 justify-center items-center rounded-lg bg-ocean-green">
				Opiniones o hobbies o algo... nuse
			</div>
		</div> 
	</section> -->
</MainLayout>
