---
// Layouts Imports
import Layout from '@layouts/main.astro'

// > Scripts Import
import { getCurrentYear } from '@scripts/date.js'


---

<Layout data-barba-namespace="home-section">
	<div class="flex flex-col max-w-screen-xl h-full justify-center items-center mx-auto z-10 animate-this bg-transparent gap-24 force-overflow">
		<!--
			SE UBICARÁN LOS PROYECTOS
			-> Con enlace a un dialog sacando la información de estos,
			-> Revisar si es factible hacer scrapping para actualizar la información
		-->
		<ul>
			<li></li>
		</ul>
	</div>
</Layout>

<style lang="scss">

#name {
    -webkit-text-stroke: 3px #000;
    color: transparent !important;
}

</style>
