---
// Layouts Imports
import Layout from '@layouts/main.astro'

// Components Imports
import ListProjects from '@components/list/projects.svelte'

---

<Layout data-barba-namespace="home-section">
	<div class="flex flex-col max-w-screen-xl justify-center items-center mx-auto z-0 animate-this bg-transparent gap-24">
		<div class="flex max-w-screen justify-end items-end overflow-hidden min-h-screen py-12">
			<ListProjects client:visible />
		</div>
		<!--
			SE UBICARÁN LOS PROYECTOS
			-> Con enlace a un dialog sacando la información de estos,
			-> Revisar si es factible hacer scrapping para actualizar la información
		-->
	</div>
</Layout>
