---
// Layout Imports
import MainLayout from '@layouts/main.astro';

// Component Imports
import Counter from '@components/Counter.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
	<Counter client:visible >
		<h1>Hello Svelte!</h1>
	</Counter>
</MainLayout>
