---
// > Components Imports
import Navigation from '@components/navbar/index.svelte'
import Background from '@components/background.svelte'
import Loader from '@components/loader.svelte'

// > Styles SCSS MAIN
import '@styles/app.scss'

---
<!-- Main Layout -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body data-barba="wrapper" class="flex flex-col w-screen min-h-screen overflow-x-hidden overflow-y-hidden 
		justify-center items-center bg-cultured dark:bg-bigstone">
		<Background client:visible />
		<Loader client:load />
		<main>
			<Navigation client:visible />
			<h1 class="absolute flex left-0 top-0">{ Astro.url.pathname }</h1>
			<div id="layout" data-barba="container" class="max-w-screen-xl h-screen bg-transparent z-10 px-4 overflow-hidden">
				<slot />
			</div>
		</main>
		<!-- Barba JS Init -->
		<script src="../scripts/barba.js" />
	</body>
</html>