---
// > Components Imports
import Navigation from '@components/navigation.svelte'
import Background from '@components/background.svelte'
import Footer from '@components/footer.svelte'

// > Styles SCSS MAIN
import '@styles/app.scss'

---
<!-- Main Layout -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="flex flex-col w-screen min-h-screen overflow-x-hidden overflow-y-hidden 
		justify-center items-center bg-cultured dark:bg-bigstone">
		<Background client:visible />
		<main>
			<Navigation client:visible />
			<slot />
			<Footer />
		</main>
	</body>
</html>