---
import Navigation from '@components/navigation/index.svelte'
import Background from '@components/background.svelte'
---
<!-- Main Layout -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="min-h-screen overflow-x-hidden">
		<Background client:visible />
		<main>
			<Navigation client:visible />
			<slot />
		</main>
	</body>
</html>